{% extends "base.html"%}
{%block body%}

<div class="admin-container">
    <div class="card-admin">
        <div class="card-header">
            <h2 class="card-title">Edit Group</h2>
        </div>
        <div class="booking-form">
            <form method="post">
               <div class="input-box">
                   <label class="form-label">group name</label>
                   <input
                    type="text"
                    name="name"
                    value="{{group.name}}"
                    required
                    > 
               </div>
               <div class="submit-btn">
                 <button type="submit">
                 save changes
                </button>
               </div>
            </form>
        </div>

    </div>
</div>       

{%endblock%}
