{% extends "base.html"%}

{%block body%}


<section class="recorded-page">
    <div class="recorded-header">
       <h1>STUDENTS</h1>
    </div>
</section>
<section >
    <div>
        <div>
          {%for student in student%}
          <div>
            <div>
                <div>
                    <p>{{student.name}}</p>
                    <p> {{student.student_num}}</p>
                    <p> {{student.parent_num}}</p>
                </div>
                <div>
                    <a href="{{ url_for('students.delete_student', student_id=student.id) }}">delete student</a>
                    <a href="{{ url_for('students.add_student_to_group', student_id=student.id) }}">add to group</a>
                </div>
            </div>
          </div>  
          {%endfor%} 
        </div>
                    <a href="{{url_for('students.add_student')}}">add student</a>
    </div>
</section>   
{%endblock%}